@define-color darkgrey #606060;
@define-color whiteu   #FFFFFF;
@define-color warning  #FF7070;
@define-color indigo1  #4c539f;
@define-color indigo2  rgba(9, 7, 31, 0.7);
@define-color indigo3  rgba(9, 7, 31, 1.0);
@define-color resize   #10aa70;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

@keyframes blink-critical-text {
  to {
    color: @warning;
  }
}

/* Keyframes for 1st bar modifiers */
@keyframes blink-modifier-text {
  to {
    color: @resize;
  }
}

#waybar.main {
  background: @indigo2;
  color: @white;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
}

#waybar.main button {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

#waybar.main #clock,
#waybar.main #cpu,
#waybar.main #memory,
#waybar.main #disk,
#waybar.main #battery,
#waybar.main #mode,
#waybar.main #pulseaudio,
#waybar.main #window,
#waybar.main #bluetooth,
#waybar.main #backlight,
#waybar.main #wireplumber,
#waybar.main #network,
#waybar.main #temperature,
#waybar.main #clock,
#waybar.main #tray {
  padding-left: 8pt;
  padding-right: 8pt;
  margin-bottom: 3px;
  background: transparent;
  color: @white;
}

#waybar.main #network.info {
  padding-right: 10px;
  padding-left: 10px;
  color: @warning;
}

#waybar.main #network.info.wifi.normal,
#waybar.main #network.info.ethernet {
  color: @white;
  padding-right: 15px;
}

#waybar.main #network.info.wifi {
  color: @warning;
  padding-right: 15px;
}

#waybar.main #workspaces button.urgent,
#waybar.main #workspaces button.special,
#waybar.main #memory.critical,
#waybar.main #cpu.critical,
#waybar.main #temperature.critical,
#waybar.main #battery.critical.discharging {
  color: @white;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#waybar.main #mode {
  color: @white;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#waybar.main #pulseaudio.muted,
#waybar.main #pulseaudio.source-muted,
#waybar.main #battery.warning.discharging {
  color: @warning;
}

#waybar.main #battery.charging {
  color: @resize;
}

#waybar.main #workspaces button {
  color: @darkgrey;
  background: transparent;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  transition: 0.25s ease;
}

#waybar.main #workspaces button.visible {
  color: @white;
  background: @indigo1;
}

#waybar.main #workspaces button:hover {
  color: @white;
}

#waybar.main #custom-spacer1,
#waybar.main #custom-spacer2,
#waybar.main #custom-spacer3 {
  font-size: 12pt;
  color: @darkgrey;
  background: transparent;
}

tooltip {
  background: @indigo3;
  border: 3px solid @indigo1;
  border-radius: 10px;
}

#waybar.indicator {
  font-size: 2px; /* This makes indicator thicker */
  color: rgba(0, 0, 0, 0);
  background: @indigo1;
}

#waybar.indicator #battery.critical.discharging,
#waybar.indicator #battery.warning.discharging {
  background: @warning;
  margin-right: -2305px;
}

#waybar.indicator #battery.charging {
  background: @resize;
  margin-right: -2305px;
}
