# === KANAGAWA THEME === #
startup_commands		toggle_custom_color

background_color	   	#1f1f28
dark_mode_contrast 0.85
dark_mode_background_color 	#1f1f28

text_highlight_color 		#e6c384
visual_mark_color  		#1f1f28

search_highlight_color		#e6c384
link_highlight_color 		#7e9cd8
synctex_highlight_color		#98bb6c

highlight_color_a 		#e6c384
highlight_color_b		#98bb6c
highlight_color_c		#7fb4ca
highlight_color_d		#957fb8
highlight_color_e		#938aa9
highlight_color_f		#e82424
highlight_color_g		#c0a36e

font_size			12

custom_background_color 	#1f1f28
custom_text_color		#dcd7ba

ui_text_color 			#dcd7ba
ui_background_color 		#1f1f28
ui_selected_text_color 		#dcd7ba
ui_selected_background_color 	#2d4f67

status_bar_font_size    	16
