* {
    font-family: "Iosevka Nerd Font";
    font-size: 13px;
    font-weight: bold;
    color: #cacccc;
    background-color: #171b1e;
    padding: 0px 8px;
    margin: 3px 2px;
    border-radius: 4px;
}

#bar {
    background: none;
    margin: 3px 8px;
}

#tags.active,
#overview {
    background-color: #8fb4d8;
    color: #101315;
}

#tags.urgent {
    background-color: #d27878;
    color: #101315;
}

#layout,
#title,
#network,
#volume,
#clock {
    background-color: #1f2428;
}

#cpu {
    background-color: #2c3338;
}

#mem {
    background-color: #9ac27c;
    color: #101315;
}

#tray {
    background-color: #2c3338;
}
